/* Custom Amazon Styles (for Dark Mode) */
/* Version: 1.3.0 */

:root {
    /* Amazon Colors */
    --amzn-prime-blue: #1176ec;
    --amzn-accent-blue: #146eb4;
    --amzn-orange: #FF9900;
    --amzn-smoke: #37475a;
    --amzn-dark-smoke: #1c1f26;
    --amzn-dark: #18202a;
    --amzn-red: #f93c3c;
    --amzn-green: #0adbaa;
    --white: #ffffff;
    --light-grey: #bbbbbb;
    --black: #000000;

    /* TPR Colors */
    --tpr-default: #e3dede;
    --tpr-skyblue: #9ec6ea;
    --tpr-seafoam: #52e3c3; 
    --tpr-orange: #fc8530;
    --tpr-yellow: #fec339;
    --tpr-green: #a5fa69;
    --tpr-blue: #00bfff;
    --tpr-purple: #d573ff;
    --tpr-pink: #ff70e2;
    --tpr-red: #ff596f;
    --tpr-comment: #5997a3;
    --tpr-grey: #a9b6bd;
    --tpr-dark-grey: #5d6f6f;
    --tpr-bg: #0c1621;
    --tpr-bg-alt: #111f2e;
}

/* Fix white backgrounds and product image visibility */
html * input, html * textarea {
    color: var(--white) !important; background-color: var(--black) !important;
}
.a-accordion .a-accordion-row, .a-accordion .a-accordion-row .a-accordion-active {
    background-color: var(--amzn-dark) !important;
}
.a-button-inner {
    display: flex !important; 
}
.a-divider-inner {
    display: none !important;
}

/* General links */
a:link {
    color: var(--tpr-blue) !important;
}
.a-section a.popover-trigger {
    color: var(--amzn-dark-smoke) !important;
}

/* Hover Navbar */
.btf-sub-nav-desktop-product-info-wrapper {
    background: rgba(24, 32, 42, 0.80) !important;
    backdrop-filter: blur(10px) !important;
    color: var(--tpr-blue) !important;
}
/* Menu items */
.btf-sub-nav-desktop-product-info-wrapper .tab-content:not(:hover), .top-tab-content:not(:hover) {
    color: var(--tpr-blue) !important;
}
/* Product name */
.btf-sub-nav-desktop-product-info-wrapper .btf-sub-nav-desktop-title-container .btf-sub-nav-desktop-title-text:not(:hover) {
    color: var(--white) !important;
}
/* Top arrow */
img.sub-nav-desktop-top-tab-icon {
    filter: invert(1) !important;
}
/* Books menu */
.a-section[role="navigation"] {
    background-color: var(--amzn-dark) !important;
}
/* Books logo */
.a-link-normal[aria-label="Books"] {
filter: invert(1) !important;
}

/* Delivery options */
.a-icon-premium-with-text, .a-icon-prime-jp-with-text, .a-icon-prime-with-text {
    color: var(--light-grey) !important;
}
/* Prime delivery countdown */
#ftCountdown, .ftCountdownClass {
    color: var(--tpr-green) !important;
}
/* Change any other greens */
[style*="color: #067D62"], [style*="color:#067D62"] {
    color: var(--tpr-green) !important;
}
/* "In Stock" text */
.a-color-success {
    color: var(--tpr-green) !important;
}

/* Product information accordions */
#twister-plus-desktop-twister-container .text-swatch-button-with-slots.a-button-selected .swatch-title-text-container {
    background: none !important;
}
#prodDetails .prodDet-expander-header-styling, .a-section-expander-container {
    background: none !important;
}
/* Model comparison tables */
.aplus-v2 .premium-aplus-module-11, .aplus-v2 .premium-aplus-module-11 .faq-block,
.aplus-v2 .premium-aplus-module-5 table.a-bordered td,
.aplus-v2 .premium-aplus-module-5 table.a-bordered th,
table.a-bordered td, table.a-bordered th {
    background: none !important;
}

/* Various product links */
#FeedbackAgent_feature_div h2[class*=reportAnIssueTitle],
#amazon-devices-legal-only-no-merchandising_feature_div .content-grid-block>h3,
#aplus>h2,
#ask-btf-container .askWidgetHeader,
#ask-btf_feature_div .ask-blue-widget-header>h3,
#audible-carousel-pdp-dramabot_feature_div .a-carousel-heading,
#audible-podcast-carousel-pdp-dramabot_feature_div .a-carousel-heading,
#audibleProductDetailsTitle,
#bnx-widget_feature_div .bnx_header h2[role=heading],
#brandInsights_feature_div_3 h2,
#bundleSummary_feature_div h1,
#climatePledgeFriendly .cpf-dpx-attribute-pill-text>h2,
#customer-reviews_feature_div h2,
#customer-reviews_feature_div h3,
#customerReviews h2,
#customerReviews h3,
#detailBulletsWrapper_feature_div>h2,
#discovery-and-inspiration_feature_div .a-cardui-body>h2,
#discovery-and-inspiration_feature_div .featureHeading,
#discovery-and-inspiration_feature_div [class*=carousel-title],
#dp-container .bucket:not([id*=aplus]) h2,
#dpx-rex-nice-widget-container>h2,
#editorialReviews-btf-ri_feature_div h3>span,
#editorialReviews-btf-ri_feature_div>h2,
#editorialReviews_feature_div h3,
#editorialReviews_feature_div>h2,
#expert-reviews_feature_div .a-cardui-header h3,
#feature-bullets>h1,
#feature-bullets>h2,
#followTheAuthor_feature_div h1[class*=followHeading],
#houseOfCardsFeature #hoc-expander-heading>.a-expander-prompt,
#houseOfCardsFeature .hoc-feature-header>h3,
#iconfarmv2_feature_div h1,
#important-information>h2,
#ive-videos-for-this-product-widget_feature_div .a-carousel-heading,
#legalEUBtf_feature_div>h2,
#moreAboutTheAuthorCard_feature_div #books-entity-teaser,
#music-tracks>h4,
#musicTracks_feature_div>h2,
#newerVersion_feature_div h2,
#newerVersion_feature_div h4,
#organic-complements-top_feature_div [class*=headerSection] h2[class*=header],
#postsSameBrandCard_feature_div [class*=carousel-title],
#pre-owned-condition-drawer>h2,
#prodDetails .a-expander-container>.a-row h3,
#prodDetails .secHeader,
#prodDetails h1,
#prodDetails>h2,
#product-comparison_feature_div h2,
#productDescription_feature_div h2.default,
#productDescription_feature_div h2.softlines,
#productDetails_expanderSectionTables .prodDet-expander-header-styling>.a-expander-prompt,
#productDocuments_feature_div h2,
#productFactsDesktop_feature_div h3,
#provenance-certifications>h1,
#red-regulation-content_feature_div h4>strong,
#rhf .rhf-header,
#rhf-container .a-carousel-heading,
#sbl-header-title,
#similarities_feature_div [class*=vseVideoWidgetHeaderBlock] h3,
#similarities_feature_div h2,
#technicalSpecifications_feature_div h5,
#technicalSpecifications_feature_div>h2,
#toySafety_feature_div>h3,
#twister-plus-feature .twister-plus-header,
#va-related-videos-widget_feature_div .a-carousel-heading,
#valuePick_feature_div h4,
#vasTitleText,
#whatsInTheBoxDeck>h2,
#whispersyncforvoice_primary>h2,
[data-elementid=vse-cards-vw-dp-widget-title] {
  color: var(--tpr-blue) !important;
}
.MMGridLayout .formatsRow .swatchElement .slot-price > * {
    color: var(--tpr-orange) !important;
}

/* Audible product carousel */
.a-carousel-header-row .a-carousel-container h2.a-carousel-heading, .audible h2 {
    color: var(--tpr-blue) !important;
}
/* Fix price colors (reds) */
[style*="color:#c10015!important"], [style*="color: #c10015 !important"], [style*="color:#ff0000!important"],
[style*="color: #ff0000 !important"], [style*="color:#f00!important"], [style*="color: #f00 !important"] {
    color: var(--amzn-red) !important; 
}
.r4m-sou-comparison-header-price *, .a-color-price, .bia-price,  .a-price[data-a-color='base'],
#gw-asin-popover .pricing .price, #gw-asin-popover .pricing .price .a-color-price {
    color: var(--amzn-red) !important;
}

/* Customer review section */
[style*="color: #0F1111"], [style*="color:#0F1111"],
h1.aui-primitive, h2.aui-primitive, h3.aui-primitive,
h4.aui-primitive, h5.aui-primitive, h6.aui-primitive,
p.aui-primitive, span.aui-primitive {
    color: var(--light-grey) !important;
}
/* Review titles and text */
h5[data-reviewbind="ReviewTitle"], div[data-reviewbind="ReviewText"], div[data-reviewbind="ProfileBadge"] {
    color: var(--white) !important;
}

/* Pagination buttons */
.s-pagination-item svg, .a-list-item .s-pagination-selected {
    filter: invert(1) !important;
}
